#about{
    color: cornflowerblue;
}
h2{
    text-decoration: underline;
}
h1{
    text-decoration: underline double;
}
body{
  
    margin: 0 15%;
    padding:0px 50px;
    background-image: linear-gradient(to left, white, black);
    color: white;
}
h3{
    text-decoration: underline;
}
nav{
    
    padding: 20px 0px 50px 80%;
   
}
main{
   
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}
#input{
    padding: 20px 100px;
    background-color: rgb(235, 225, 225);
    border: none;


}
button{
    padding: 10px 90px;
    border:1px solid;

}